<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large"><a target="_blank" href="https://instagram.com/peopledoingfitness" class="mysocial" rel="me"><i class="fab fa-instagram fa-3x"></i></a></span>&nbsp;&nbsp;
            <br><br>
            <!--<a class="button is-medium is-github">
                <span class="fab fa-github"></span>
            </a>-->

            Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}}
            <!--<a class="mysocial" href="{{ "about" | absURL }}">About</a>-->
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>
</html>
