<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" />
    <link rel="stylesheet" href="{{ "css/bulma-collapsible.min.css" | absURL }}" />

    <script type="text/javascript" src="{{ "js/index.js" | absURL }}" ></script>
    <script type="text/javascript" src="{{ "js/bulma-collapsible.js" | absURL }}" ></script>

    {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
</head>
<body>

    <!-- nav -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">Home</a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                </div>
            <div class="navbar-end">
                <!--<a class="navbar-item" href="{{ "/about" | absURL }}">About</a>-->
                <a class="navbar-item" href="{{ "/contact" | absURL }}">Contact</a>
                <a class="navbar-item" href="{{ "/wod" | absURL }}">WODs</a>
            </div>
        </div>
    </nav>
    <!-- /nav -->

    <!-- hero -->
    <section class="hero is-info is-medium">
        <div class="hero-body" style="background-image: url({{ "img/pdf_upd_.jpg" | absURL }});">
            <div class="container has-text-centered">
                <br>
                <h4 class="title is-size-2">
                    {{ if eq .Type "tags" }}
                        #{{ .Title }}
                    {{ else if eq .Type "archives" }}
                        {{ .Title }}
                    {{ else if eq .Title "Wods" }}
                        WODS
                    {{ else if or (eq .Type "blog") (eq .Type "wod") }}
                        Blog
                    {{ else }}
                        People Doing Fitness
                    {{ end }}
                </h4>
                {{ if eq .Type "article" }}
                    {{ .Date.Format "January 2, 2006" }} &middot;&nbsp;{{ .ReadingTime }} min read
                {{ end }}
            </div>
        </div>
    </section>
